
.navbar{
  border-bottom: white 3px solid;
  opacity: .8;
  max-height: 80px;
  background-color: #333;
}
.navbar img{
  width: 75px;
  height: 75px
}
.navbar a{
  color: #fff
}
.navbar-expand-sm .navbar-nav .dropdown-menu{
  background-color: #000
}
.pizza{
    padding 70px 0
}
.pizza h1{
    font-family 'Raleway', sans-serif;
    letter-spacing -2px;
    font-size 62px;
  }
.pizza hr{
    width 70%;
  }
#menu .pizza-menu{
      margin-left: 61px;
      position: relative;
      float: left;

    }
.pizza-item{
  margin: 30px 30px 40px;
  float: left;
  position: relative;
  border: 1px solid #ddd
}

.pizza-item-name{
  position: absolute;
    top: 4px;
    left: 110px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
}
.pizza-item-price{
    position: absolute;
    top: 78px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
    font-weight: bold;
}
.customize7 , .customize8 ,.customize9, .customize10, .customize11, .customize12{
    color: #fff;
    background-color: #333;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    top :377px;

}
.undo7 , .undo8,.undo9 , .undo10 , .undo11 ,.undo12{
  color: #fff;
  background-color: #333;
  position: absolute;
  left: 100px;
  padding: 5px;
  border-radius: 5px;
  top :377px;


}
.pizza-menu .input7 , .input8 , .input9 , .input10 , .input11 , .input12{
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  position: absolute;
  top: 378px;
  left: 171px;
}
.main-footer{
    height: 102px;
    position: absolute;
    top: 1072px;
    background-color: #444;
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 18px;

}
